.spot-page-parent {
  font-family: Helvetica, sans-serif;
}

.top-info {
  padding: 20px;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.reserve-modal {
  width: 300px;
  height: auto;
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.reserve-modal-details {
  display: flex;
  justify-content: space-between;
}

.reserve-modal-button {
  display: flex;
  justify-content: center;
}

.booking-selection {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  border: solid lightgray 1px;
  border-radius: 5px;
}

.date-input-label {
  font-size: smaller;
  color: gray;
  padding: 5px;
}

.check-in {
  border-right: solid lightgray 1px;
  width: 50%;
}

.check-out {
  width: 50%;
}

.date-input {
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
  font-weight: bold;
  border: none;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* .spot-page-parent {
  width: 100%;
} */

.img-section {
  display: flex;
  width: 90%;
}
/* .preview-image {
  width: 50%;
} */

.other-img-gallery {
  width: 50%;
}

.other-img {
  height: 400px;
  width: 400px;
}

.gallery-top {
  display: flex;
}

.gallery-bottom {
  display: flex;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/* CSS for reviews */
.reviews-section-parent {
  padding: 20px;
}

.reviews-header-text {
  margin-bottom: 15px;
}

.reviews-list {
  display: flex;
  flex-direction: column-reverse;
}

.submit-button-reserve {
  background-color: lightcoral;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 0px 0px 0px;
  outline: none;
  padding: 6px 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.submit-button-reserve:hover {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.submit-button-reserve:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.submit-button-reserve:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
