.spot-card {
  /* border-style: dotted; */
  width: 300px;
  height: 400px;
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.spot-card-img {
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.hidden {
  visibility: hidden;
}

.bottom-card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top-card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lower-card-gap {
  overflow: hidden;
  height: 300px;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.price {
  font-weight: bold;
}

.rating-section {
  display: flex;
  align-items: center;
  gap: 5px;
}
