.spot-card {
  /* border-style: dotted; */
  width: 300px;
  height: 450px;
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.spot-card-img {
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.hidden {
  visibility: hidden;
}

.bottom-card-info {
  display: flex;
  justify-content: space-between;
}

.top-card-info {
  display: flex;
  justify-content: space-between;
}
