.hidden {
  visibility: hidden;
}

.navbar {
  display: flex;
  font-family: Helvetica, sans-serif;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: rgb(231, 230, 230);
  padding: 15px 50px 10px 50px;
}

/* .profileButton:hover {
  box-shadow: 5px 5px 5px black;
} */
#nav-typelogo {
  /* width: 40px; */
  height: 40px;
  /* margin-left: 20px; */
}

#nav-logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.float-menu {
  position: absolute;
  background-color: white;
  /* border: solid black; */
  margin: 5px 0px 0px -80px;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
}

.manage-spots {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.profileButton {
  background-color: white;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  margin-right: 20px;
}

i {
  font-size: 20px;
}

p {
  padding: 3px;
}
/* .nav-right {
  display: flex;
  align-items: center;
} */

.right-nav {
  display: flex;
  align-items: center;
  margin-left: -20px;
  gap: 15px;
}

.profile-modal {
}

.menu-links {
  /* color: brown; */
  cursor: pointer;
  list-style-type: none;
  padding: 4px;
}

.logout-button {
  background-color: grey;
  border: 1px solid #222222;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 5px 0px 0px 15px;
  outline: none;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.fa-star {
  font-size: 13px;
}
