.hidden {
  visibility: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
}

/* .profileButton:hover {
  box-shadow: 5px 5px 5px black;
} */

#nav-logo {
  width: 40px;
  height: 40px;
}

.float-menu {
  position: absolute;
  background-color: white;
  border: solid black;
  margin: 5px 0px 0px -75px;
}
